*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 18px;
    background-color: black;
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.select{
    color: #ffffff;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    background-color: transparent;
}
.header_btn{
    width: 192px;
    background-color: #f1a900;
    padding: 26px 0;
    border: none;
    color: #000000;
font-family: "Inter";
font-size: 20px;
font-weight: 700;
line-height: 24px;
}
.header_list{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    list-style: none;
}
.header_link{
    color: #ffffff;
font-family: "Inter";
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-decoration: none;
}
.hero{
   padding-top: 349px;
   padding-bottom: 142px;
}
.hero_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.btn1{
    width: 235px;
    background-color: #f1a900;
    color: #000000;
font-family: "Inter";
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.btn2{
    width: 235px;
    background-color: #000000;
    color: white;
font-family: "Inter";
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.content{
    width: 966px;
    margin: 31px auto;
    border-radius: 10px;
padding: 31px 0;
background: #f1a90054;
}
.hero_title{
    color: #ffffff;
font-family: "Inter";
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0%;
text-align: center;
}
.hero{
    background-image: url("image 5 (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn1:hover{
    background-color: red;
}
.btn2:hover{
    background-color: red;
}